@media only screen and (max-width: 768px) {
    .logo-black-friday img{
        width: 80%;
    }
    form{
        width: 100%;
    } 
    label{
        text-align: left;
    }
    label.feminino, 
    label.masculino, 
    label.roma, 
    label.boston, 
    label.outras,
    label.escolha-latam {
        width: auto;
    }
    label.feminino, 
    label.masculino{
        font-size: 10px;
        margin: 0;
        margin-top: 15px;
        margin-right: 5px;
    }
    [type="radio"]:checked + label.feminino, 
    [type="radio"]:not(:checked) + label.feminino {
        margin-left: 0;
    }
    input,
    input#cep,
    input#numero{
        width: 60%;
    }
    input#data-nascimento{
        width: 60%;
    }
    .maior-idade{
    }
    
    .termos{
        text-align: center;
    }
    .tj{
        width: 100%;
        text-align: justify;
    }
    .tj-latam {
        float: none;
        width: 100%;
    }
    .footer-latam{
        text-align: center;
        float: none;
        padding-bottom: 30px;
    }
    
}