/* Template version 16.6.04 */

/*@font-face {
    font-family: '';
    src: url('') format('woff');
}
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: '';
}

img{max-width: 100%;}
p{padding-top: 6px;}

/* ========= CENTRALIZADOR ========== */
.centraliza-elementos{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#ad {
    position: absolute;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    opacity: 0;
}

/* ===== CLICKTAG =====*/
.clicktag {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.background {
    position: absolute;
    width: 266px;
    height: auto;
    z-index: 1;
    top: 0;
}

/* ====== PROTECAO ======= */
.protecao {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    opacity: 0;
    z-index: 4;
}

/* ===== LOGO LATAM ===== */
.logo_latam{
    width: 85px;
    height: 27px;
    top: 8px;
    right: 13px;
    z-index: 10;
    position: absolute;
}

/* ===== LOGO ONE WORLD ===== */
.logo_one_world{
    width: 26px;
    top: 5px;
    left: 8px;
    z-index: 10;
    position: absolute;
}

/* ===== SLOGAN ===== */
.slogan{
    top: 67px;
    right: 12px;
    width: 84px;
    height: 15px;
    z-index: 10;
    position: absolute;
}

/* ===== BOX AZUL ===== */
.box_azul{
    width: 468px;
    background: #1b0088;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    line-height: 0;
    padding: 23px 0 0 37px;
}

.box_azul img{
    left: 12px;
    z-index: 10; 
}

/* ===== BOX LEFT ===== */
.box_left{
    width: 106px;
    left: 24px;
    z-index: 10;
    position: absolute;
    top: 25px;
    text-align: center;
    line-height: 0;
}

/* ===== BOX RIGHT ===== */
.box_right{
    width: 127px;
    left: 150px;
    z-index: 10;
    position: absolute;
    top: 22px;
    text-align: center;
    line-height: 0;
}

.box_right img:nth-child(1){
    position: relative;
    width: 94px;
    left: 8px;
}

.box_right img:nth-child(2){
    position: relative;
    top: 4px;
    left: 8px;
    width: 114px;
}

.box_right img:nth-child(3){
    position: relative;
    top: 5px;
    left: 12px;
}

.box_right img:nth-child(4){
    position: relative;
    top: 6px;
    left: 13px;
}

.footer{
    position: absolute;
    height: 23px;
    width: 264px;
    background: #ffffff;
    bottom: 0;
    z-index: 1;
    left: 0;
}

.footer img{
    position: absolute;
    right: 10px;
    width: 35px;
    top: -1px;
    height: 27px;
}


/* ========= CTA ========== */
.cta {
    position: absolute;
    right: 12px;
    width: 143px;
    bottom: 11px;
    cursor: pointer;
    z-index: 101;
    background: #ed1650;
    text-align: center;
    border-radius: 7px;
    height: 26px;
    overflow: hidden;
}

.cta img{
    position: relative;
    top: 7px;
    width: 125px;
}

.censura {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 5px;
    bottom: 5px;
    z-index: 10;
}

.background-censura {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.idade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    right: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 11px;
}

.copyright {
    
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 0 40px;
    line-height: 1em;
    font-size: 4px;
    text-align: center;
    z-index: 10;

}

/*apenas para uso interno de testes e validaÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Âµes*/
.return {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  line-height: 1em;
  display: none;
  opacity: 0;
  z-index: 1000;
}
/**/